@model IEnumerable<DrinkAndGo.Models.User>

@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<br />
<br />

<form class="form-inline" asp-controller="Users" asp-action="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    <input class="form-control mr-sm-2" type="search" placeholder="Enter user name" aria-label="Search" name="name">
    <input class="form-control mr-sm-2" type="search" placeholder="Enter user age" aria-label="Search" name="age">
    <input class="form-control mr-sm-2" type="search" placeholder="Enter user type" aria-label="Search" name="type">
</form>



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserName">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UserName">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserName">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
