@using DrinkAndGo.Models
@model Dictionary<Drink, int>

@{
    ViewData["Title"] = "ViewCart";
}

<h2>ViewCart</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                ShortDescription
            </th>
            <th>
                LongDescription
            </th>
            <th>
                Price
            </th>
            <th>
                ImageUrl
            </th>
            <th>
                IsPreferredDrink
            </th>
            <th>
                InStock
            </th>
            <th>
                Count
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.ShortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.LongDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.Price)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Key.ImageUrl)" alt="ASP.NET" class="img1" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.IsPreferredDrink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.InStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    <a asp-action="RemoveFromCart" asp-route-drinkId="@item.Key.DrinkId">Remove one</a>
                    <a asp-action="AddToCart" asp-route-drinkId="@item.Key.DrinkId">Add one</a>
                </td>
            </tr>
        }
    </tbody>
</table>
