@using DrinkAndGo.Models
@model Dictionary<Drink, int>

@{
    ViewData["Title"] = "ViewCart";
}

<h2>ViewCart</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                ShortDescription
            </th>
            <th>
               LongDescription
            </th>
            <th>
                model.Price
            </th>
            <th>
                ImageUrl
            </th>
            <th>
                ImageThumbnailUrl
            </th>
            <th>
                IsPreferredDrink
            </th>
            <th>
                InStock
            </th>
            <th>
                Category
            </th>
            <th>
                Count
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.ShortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.LongDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.ImageUrl)
                </td>                                  
                <td>                                   
                    @Html.DisplayFor(modelItem => item.Key.ImageThumbnailUrl)
                </td>                                  
                <td>                                   
                    @Html.DisplayFor(modelItem => item.Key.IsPreferredDrink)
                </td>                                  
                <td>                                   
                    @Html.DisplayFor(modelItem => item.Key.InStock)
                </td>                                  
                <td>                                   
                    @Html.DisplayFor(modelItem => item.Key.Category.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @{
                        // TODO add options to remove from cart or see details
                    }
                    <a asp-action="Details" asp-route-id="@item.Key.DrinkId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Key.DrinkId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
