@model IEnumerable<DrinkAndGo.Models.Drink>

@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<br />
<br />
<h4>Our drinks:</h4>


<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShortDescription)
                </th>
                
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </th>
                
                <th scope="col">
                    @Html.DisplayNameFor(model => model.IsPreferredDrink)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.InStock)
                </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" alt="ASP.NET" class="img1" /> 
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.IsPreferredDrink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryId)
            </td>
            
        </tr>
}
    </tbody>
</table>
