@model IEnumerable<DrinkAndGo.Models.Drink>
@using DrinkAndGo.Controllers

@{
    ViewData["Title"] = "Index";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<br />
<br />
<h2>Our drinks:</h2>
<br />


<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>

            <th scope="col">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>

            <th scope="col">
                @Html.DisplayNameFor(model => model.IsPreferredDrink)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.InStock)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongDescription)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" alt="ASP.NET" class="img1" />
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsPreferredDrink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    <button type="button" data-id="@Html.DisplayFor(modelItem => item.DrinkId)" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>


                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">@Html.DisplayFor(modelItem => item.Name)</h4>
                                </div>
                                <div class="modal-body">
                                    <p>@Html.DisplayFor(modelItem => item.LongDescription)</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                @if (UsersController.UserName != null)
                {
                    <td>
                        @Html.ActionLink("Add to cart 🛒", "AddToCart", "Users", new { drinkId = item.DrinkId }, null)
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
