@model IEnumerable<DrinkAndGo.Models.Drink>

@{
    ViewData["Title"] = "Index";

}

    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/carousel3.jpg" alt="ASP.NET" class="img-responsive" />
                <div class="carousel-caption" role="option">

                </div>
            </div>
            <div class="item">
                <img src="~/images/carousel1.jpg" alt="Visual Studio" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        Learn about the history of the alcohol
                        <a class="btn btn-default" asp-controller="Home" asp-action="About">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/carousel2.jpg" alt="Package Management" class="img-responsive" />
                <div class="carousel-caption" role="option">

                </div>
            </div>
            <h2>Preferred drinks of the week</h2>
            <h4>Clients preferences - just for you</h4>
            <div class="bar">
                @foreach (var item in Model)
                {
                    <div class="card-deck">
                        <div class="card">
                            <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.ImageUrl)" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.ShortDescription)</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>

                    </div>}
            </div>

            @*<tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LongDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageThumbnailUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPreferredDrink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryId)*@
            @*</td>
        <td>*@
            @*<a asp-action="Edit" asp-route-id="@item.DrinkId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DrinkId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DrinkId">Delete</a>
            </td>
        </tr>*@


