@model IEnumerable<DrinkAndGo.Models.Drink>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

        @foreach (var item in Model)
        {
            <div class="card" style="width: 18rem;">
                <img src="@Html.DisplayFor(modelItem => item.ImageThumbnailUrl)" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.ShortDescription)</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            @*<tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LongDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageThumbnailUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPreferredDrink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryId)*@
                @*</td>
                <td>*@
                    @*<a asp-action="Edit" asp-route-id="@item.DrinkId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DrinkId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DrinkId">Delete</a>
                </td>
            </tr>*@
        }
    </tbody>
</table>
